
.bio {
  font-family: 'Lakki Reddy', cursive;
  float: left;
  margin-top: 20%;
	margin-bottom: 20%;
  width: 10%;
  margin-left: 3.5%;
  padding: 5%;
  /*height: 300px;*/
  background-color: #FFFFFF;
  color: #000000;
  opacity: .9;
}

.hobbies ul li {
	list-style-type: circle;
}

h1 {
  font-size: 36px;
  text-align: center;
}

.hometown {
	border-width: thin;
}

img.bio-pic {
	height: 50px;
	width: 50px;
	margin-left: 40px;
}

img.frankie-pooch {
	height: 110px;
	width: 110px;
	margin-left: 10px;
}

h1 {
	background-color: #7FD4CA;
	/*still need to make box cover all of our names*/
	border-radius: 25px;
	width: 126.33px;
	height: auto;
	padding-top: 10px;
}
