

table {
  width: 80%;
  float: left;
  margin-top: 20%;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-right: auto;
}

th {
  font-family: 'Walter Turncoat', cursive;
  font-size: 36px;
  color: #000000;
  font-weight: bolder;
  text-align: left;
  padding: 1%;
  border-bottom: 1px solid transparent;
	border-top: none;
	border-right: none;
	border-left: none;
  background-color: #FFFFFF;
  opacity: .9;
  vertical-align: middle;
  width: auto;
}

td {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 24px;
  color: #000000;
  text-align: left;
  padding: 1%;
  border-bottom: 1px solid transparent;
	border-top: none;
	border-right: none;
	border-left: none;
  background-color: #FFFFFF;
  opacity: .9;
  vertical-align: middle;
  width: auto;
}
