.how-to-play {
  font-family: 'Walter Turncoat', cursive;
  /*background-color: #FFFFFF;
  color: #000000;*/
  float: left;
  clear: both;
  margin-top: 150px;
  height: 500px;
  overflow: scroll;
}

p {
  width: 50%;
  background-color: #FFFFFF;
  color: #000000;
  opacity: .9;
  font-family: 'Shadows Into Light Two', cursive;
  margin: auto;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  line-height: 26px;
}
